﻿<div class="counter">
    <button class="btn btn-danger" ng-click="cc.decrement(cc.num)"> - </button>
    <span> <span ng-bind="cc.num"></span> </span>
    <button class="btn btn-success" ng-click="cc.increment(cc.num)"> + </button>
</div>