﻿@{
    ViewBag.Title = "Home Page";
}

<div class="panel">
    <h1>Examples</h1>
</div>

<div class="container">
    <div counter seed="0"></div>
</div>

@section scripts{
    <script src="http://localhost:8080/Scripts/bundles/app.js"></script>
}